<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- CSS only -->
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1 class="text-center">Todo List</h1>
        <form action="create-task" method="post">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control" name="description" placeholder="Description" id="" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="">Select Category</label>
                        <select class="form-control" name="category" id="">
                            <option>Personal</option>
                            <option>Work</option>
                            <option>School</option>
                            <option>Urgent Work</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="">Due Date</label>
                        <input type="date" class="form-control" name="due_date" id="" />
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Add
                    task</button>
                <button type="submit" class="btn btn-danger" form="delete1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    DELETE TASKS
                </button>
            </div>
        </form>
        <div>
        </div>

        <br>
        <form id="delete1" action="/delete-todo" method="POST" >
            <div class="row d-flex justify-content-center container">
                <div class="col-md-12">
                    <div class="card-hover-shadow-2x mb-3 card">
                        <div class="card-header-tab card-header">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                                    class="fa fa-tasks"></i>&nbsp;Task Lists</div>
                        </div>
                        <div class="scroll-area-sm">
                            <perfect-scrollbar class="ps-show-limits">
                                <div style="position: static;" class="ps ps--active-y">
                                    <div class="ps-content">
                                        <ul class=" list-group list-group-flush">
                                            <% for(let i=todo_list.length - 1; i>= 0; i--) { %>
                                            <input type="hidden" name="" id="check_box_id" value="<%= i %>">
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-2">
                                                            <div class="custom-checkbox custom-control">
                                                                <input type="checkbox" id="check_box_<%= i %>" name=task
                                                                    value="<%= todo_list[i]._id %>">
                                                                <label class="custom-control-label"
                                                                    for="exampleCustomCheckbox12">&nbsp;</label>
                                                            </div>
                                                        </div>
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading" id="widget_heading_<%=i%>">
                                                                <%= todo_list[i].description %>
                                                                <div class="badge badge-danger ml-2"><span
                                                                        class="badge badge-pill badge-<%=todo_list[i].category%>">
                                                                        <%=todo_list[i].category%>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="widget-subheading " id="widget_subheading_<%=i%>">
                                                                <i> <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                                                    &nbsp;
                                                                    <%= todo_list[i].due_date %>
                                                                </i></div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <a href="/delete_todo_single/?id=<%= todo_list[i]._id %>">
                                                                <i class="fa fa-times" style="color: red;"
                                                                    aria-hidden="true"></i>
                                                            </a>
    
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <% } %>
    
                                        </ul>
                                    </div>
    
                                </div>
                            </perfect-scrollbar>
                        </div>
    
                    </div>
                </div>
            </div>
            </form>
    </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        var id = $('#check_box_id').val() + 1;

        for (let i = id - 1; i >= 0; i--) {

            $('#check_box_' + i + '').change(function () {

                if ($(this).prop('checked')) {
                    console.log('#widget_heading_' + i);

                    $('#widget_heading_' + i).addClass("strike");
                    $('#widget_subheading_' + i).addClass("strike");
                } else {


                    $('#widget_heading_' + i).removeClass("strike");
                    $('#widget_subheading_' + i).removeClass("strike");


                }
            });
        }
    });
</script>
