<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Todo List</h1>
      <form  action="create-task" method="post">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label for="">Description</label>
              <input
                type="text"
                class="form-control"
                name="description"
                placeholder="Description"
                id=""
              />
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="">Select Category</label>
              <select class="form-control" name="category" id="">
                <option>Personal</option>
                <option>Work</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
                <label for="">Due Date</label>
              <input type="date" class="form-control" name="due_date" id="" />
            </div>
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Add task</button>
        <button class="btn btn-danger" type="button">Delete task</button>
      </form>

      <ul class="list-group">
        <% for (let i of todo_list) { %>
        <li class="list-group-item list-group-item-primary">
            <span style="float: right"><a href="/delete-contact/?id=<%= i.id %>"><button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> </button></a></span>
        <%= i.description %> <%= i.due_date %> <span style="float: right;padding: 0px 24px 0px 0px;"><%= i.category %></span>
        </li>

        <% } %>
      </ul>
    </div>
  </body>
</html>
